<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="_content/AasxEditor.Core/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="_content/AasxEditor.Core/app.css" />
    <link rel="stylesheet" href="AasxEditor.Core.styles.css" />
    <link rel="icon" type="image/png" href="_content/AasxEditor.Core/favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/monaco-editor@0.45.0/min/vs/loader.js"></script>
    <script src="_content/AasxEditor.Core/js/monaco-interop.js"></script>
</body>

</html>
